.table{
    margin-top:100px;
    
}
.head
{
    color: bisque;
}
.sec
{
    color:bisque;
}
.tir
{
    color:bisque;
}

thead
{
    height: 50px;
    padding: 25px;
}
.but
{
    margin-top: 250px;
}
