
div.main-div{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
a.real{
    font-size: 25px;
    color: rgb(0, 0, 66);
}

.navitem{
    margin-left: 100px;
    letter-spacing: 2px;
}
.real{
    font-weight: 600;
    font-family: sans-serif;
    font-size: 36px;
    
}
a.nav-link{
    font-weight: 530;
    font-family: sans-serif;
    font-size: 20px;
    color:red;
    
}



